@model AppBancoDominio.Conta

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Esqueceu a Senha</title>
    <link rel="sortcut icon" href="~/fonts/Home_Func/logo_copo.png" type="image/png">
    <style>
        body {
            margin: 0;
            background-color: #fff6e5;
        }

        header, .back {
            display: flex;
        }

        .back {
            padding-left: 20%;
            margin: 25% 1%;
        }

        header img {
            width: 2vw;
            height: 2vw;
            margin: 30% 6%;
        }

        header h3 {
            color: #9f4845;
            font: bold 15pt Comic Sans MS;
        }

        .tit {
            margin: 1.7% 34%;
        }

        header h2 {
            color: #707070;
            font: normal 18pt Comic Sans MS;
        }

        section {
            display: flex;
            justify-content: center;
        }

        .container {
            width:50vw;
            height:60vh;
            background: #fff;
            border: solid 6px #fff6e5;
            justify-content: center;
            align-items: center;
            border-radius: 4px;
            text-align: center;
            overflow: hidden;
            transition: 0.5s;
            box-shadow: 0 15px 35px rgba(0, 0, 0, .5);
        }
        
        .entrar {
            display: flex;
            justify-content: center;
            margin: 10% 3%;
        }

        .link {
            margin: auto 13rem;
            cursor: pointer;
            width: 16vw;
            display: flex;
            padding: 15px;
            justify-content: center;
            text-align: center;
            text-decoration: none;
            border-radius: 25px;
            border: none;
            color: #fff;
            font: bold 14pt Candara;
            text-transform: uppercase;
            background-color: #b78278;
            color: #fff;
            transition: 0.5s;
        }
            .link:hover {
                background: #6b4d41;
            }
        .text-danger {
            color: #9f4845;
            font: bold 10pt Comic Sans MS;
        }
    </style>
</head>
<body>
    <header>
        <a href="Login_Home" style="text-decoration: none;">
            <div class="back">
                <img src="~/fonts/Home_Login/voltar.png"><h3>Voltar</h3>
            </div>
        </a>
    </header>
    <section>
        <div class="container">
            <h2 style="font-size: 20pt; color: #707070; font: normal 18pt Comic Sans MS;">RECUPERE SUA SENHA</h2>
            <h3 style="font-family:Candara; margin-top:15%;font-size: 20px;font-weight: 600;text-transform: uppercase;letter-spacing: 1px;
    text-align: center;width: 100%;margin-bottom: 10px;color: #555;">
                Solicite nosso suporte <mark style="background: none; font-family: Arial; color: #9f4845" >(11)3591-8242</mark> e recupere sua senha.
            </h3>
            <div style="font-size: 25pt; text-align: center;">😉👍☕</div>
            <div class="entrar">
                @Html.ActionLink("Entrar", "Login_Home", "Login", new { @class = "link" })
            </div>
        </div>
    </section>
</body>
</html>
