
@{
    ViewBag.Title = "BuscaCliente";
    Layout = "~/Views/Shared/_CFCfunc.cshtml";
}

<h2>BuscaCliente</h2>

@using (Html.BeginForm("BuscaCliente", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

}