
@{
    ViewBag.Title = "Categoria";
    Layout = "~/Views/Shared/_CFCfunc.cshtml";
}



<section>
    <div><h2>Cadastrar Produto</h2></div>
    <div><h3>ESCOLHA UMA CATEGORIA:</h3></div>
    <main>
        <div class="col_one">
            <a href="Cardapio_Cafe" class="container_box">
                <div class="box">
                    <img src="~/fonts/Home_Cliente/Cardapio/coffee.png" />
                    <h3>Café</h3>
                </div>
            </a>
            <a href="Cardapio_Choco" class="container_box">
                <div class="box">
                    <img src="~/fonts/Home_Cliente/Cardapio/chocolate.png" />
                    <h3>Chocolate</h3>
                </div>
            </a>
            <a href="Cardapio_MilkShake" class="container_box">
                <div class="box">
                    <img src="~/fonts/Home_Cliente/Cardapio/milkshake.png" />
                    <h3>MilkShake</h3>
                </div>
            </a>
        </div>
        <div class="col_two">
            <a href="Cardapio_Sanduiche" class="container_box">
                <div class="box">
                    <img src="~/fonts/Home_Cliente/Cardapio/sandwich.png" />
                    <h3>Sanduíche</h3>
                </div>
            </a>
            <a href="Cardapio_Doces" class="container_box">
                <div class="box">
                    <img src="~/fonts/Home_Cliente/Cardapio/cookies.png" />
                    <h3>Doces</h3>
                </div>
            </a>
            <a href="Cardapio_Burguer" class="container_box">
                <div class="box">
                    <img src="~/fonts/Home_Cliente/Cardapio/burger.png" />
                    <h3>Hambúrguer</h3>
                </div>
            </a>
        </div>
    </main>
</section>
