@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema - Palace Petz</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap" />
    <link href="~/Assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Css/sb-admin-2.css" rel="stylesheet" />
    <link href="~/Assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <script src="~/Assets/jquery/jquery.min.js"></script>
    <script src="~/Assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Js/sb-admin-2.js"></script>
    <script src="~/Assets/metisMenu/metisMenu.min.js"></script>
    <style>
        * {
            margin: 0;
            padding: 0;
            font-family: 'Poppins', sans-serif;
        }

        body {
            min-height: 100vh;
            background: #fff;
        }

        .navigation {
            z-index: 6000;
            position: fixed;
            width: 65px;
            height: 100%;
            background: #fff6e5;
            transition: 0.5s;
            overflow: hidden;
        }
        .navigation:hover, .navigation.active{
            width: 270px;
        }

            .navigation ul {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                padding-top: 8%;
            }

                .navigation ul li {
                    position: relative;
                    width: 100%;
                    list-style: none;
                }

                    .navigation ul li {
                        background: #B09081;
                    }
                        .navigation ul li:hover {
                            border: solid 5px #5E3F34;
                        }

                    .navigation ul li a {
                        position: relative;
                        display: block;
                        width: 100%;
                        display: flex;
                        text-decoration: none;
                        color: #fff;
                    }

                        .navigation ul li a .icon {
                            position: relative;
                            display: block;
                            min-width: 60px;
                            height: 60px;
                            line-height: 60px;
                            text-align: center;
                        }

                            .navigation ul li a .icon .fa {
                                font-size: 24px;
                            }

                        .navigation ul li a .title {
                            position: relative;
                            display: block;
                            padding: 0 10px;
                            height: 60px;
                            line-height: 60px;
                            text-align: start;
                            white-space: nowrap;
                        }

        #loc {
            background-color: #5E3F34;
        }
        #loc:hover{
            border: solid 5px #31221c
        }

        .toggle {
            position: absolute;
            top: 0;
            right: 0;
            width: 60px;
            height: 60px;
            background-color: #fff6e5;
            cursor: pointer;
        }

            .toggle.active {
                background-color: #fff6e5;
            }

            .toggle:before {
                content: '\f0c9';
                font-family: fontAwesome;
                position: absolute;
                width: 100%;
                height: 100%;
                line-height: 60px;
                text-align: center;
                font-size: 24px;
                color: #5E3F34;
            }

            .toggle.active:before {
                content: '\f00d';
            }

        media(max-width:767px) {
            .navigation

        {
            left: -60px;
        }

        .navigation.acitve {
            left: 0px;
            width: 100%;
        }
        }
        section{
            display: inline-flex;
            margin: 20% 25%;
        }
    </style>
</head>
<body onload="time">
    <div class="navigation">
        <ul>
            <li style="background: none; border: none">
                <a href="Home">
                    <img src="~/fonts/Home_Func/logo_copo.png" style=" width: 5vw; height: 10vh; display: flex;">
                    <span class="title" style="color: #5E3F34; font: bold 15pt Berlin Sans FB; padding-top: 10%;">CoffeeForCode</span>
                </a>
            </li>
            <li id="loc">
                <a href="Home">
                    <span class="icon"><i class="fa fa-home" aria-hidden="true" style=" color:#fff6e5; font-size:2em;padding-top: 26%;"></i></span>
                    <span class="title" style="color:#fff6e5;font:bold 1.3em comic Sans MS; padding-top: 7%;">Home</span>
                </a>
            </li>
            <li>
                <a href="VerificaGer">
                    <span class="icon"><i class="fa fa-id-card-o" aria-hidden="true" style=" color:#fff6e5; font-size:2em;padding-top: 26%;"></i></span>
                    <span class="title" style="color:#fff6e5;font:bold 1.3em comic Sans MS; padding-top: 7%;">Funcionários</span>
                </a>
            </li>
            <li>
                <a href="ClientesCadastrados">
                    <span class="icon"><i class="fa fa-users" aria-hidden="true" style=" color:#fff6e5; font-size:2em;padding-top: 26%;"></i></span>
                    <span class="title" style="color:#fff6e5;font:bold 1.3em comic Sans MS; padding-top: 7%;">Clientes</span>
                </a>
            </li>
            <li>
                <a href="CadastrarProd">
                    <span class="icon"><i class="fa fa-inbox" aria-hidden="true" style=" color:#fff6e5; font-size:2em;padding-top: 26%;"></i></span>
                    <span class="title" style="color:#fff6e5;font:bold 1.3em comic Sans MS; padding-top: 7%;">Produtos</span>
                </a>
            </li>
            <li>
                <a href="VendaProd">
                    <span class="icon"><i class="fa fa-money" aria-hidden="true" style=" color:#fff6e5; font-size:2em;padding-top: 26%;"></i></span>
                    <span class="title" style="color:#fff6e5;font:bold 1.3em comic Sans MS; padding-top: 7%;">Vendas</span>
                </a>
            </li>
            <li>
                <a href="RelatorioVen">
                    <span class="icon"><i class="fa fa-shopping-cart" aria-hidden="true" style=" color:#fff6e5; font-size:2em;padding-top: 26%;"></i></span>
                    <span class="title" style="color:#fff6e5;font:bold 1.3em comic Sans MS; padding-top: 7%;">Relatório de Vendas</span>
                </a>
            </li>
            <li>
                <a href="Servicos">
                    <span class="icon"><i class=" fa fa-suitcase" aria-hidden="true" style=" color:#fff6e5; font-size:2em;padding-top: 26%;"></i></span>
                    <span class="title" style="color:#fff6e5;font:bold 1.3em comic Sans MS; padding-top: 7%;">Serviços</span>
                </a>
            </li>
            <li>
                <a href="Info">
                    <span class="icon"><i class=" fa fa-info-circle" aria-hidden="true" style=" color:#fff6e5; font-size:2em;padding-top: 26%;"></i></span>
                    <span class="title" style="color:#fff6e5;font:bold 1.3em comic Sans MS; padding-top: 7%;">Informações</span>
                </a>
            </li>
            <li>
                <a href="Login">
                    <span class="icon"><i class="fa fa-sign-out" aria-hidden="true" style=" color:#fff6e5; font-size:2em;padding-top: 26%;"></i></span>
                    <span class="title" style="color:#fff6e5;font:bold 1.3em comic Sans MS; padding-top: 7%;">Sair</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="toggle" onclick="toggleMenu()"></div>
    <section>
        <h1 style="font: bold 20pt Berlin Sans FB; background: none; color: #6b4d41; text-transform: uppercase;">CoffeeForCode</h1>
    </section>
    <script type="text/javascript">
        function toggleMenu() {
            var navigation = document.querySelector('.navigation');
            var toggle = document.querySelector('.toggle');
            navigation.classList.toggle('active');
            toggle.classList.toggle('active');
        }
    </script>
</body>
</html>