
@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_CFCfunc.cshtml";
}
<style>
    body {
        margin: 0;
        }

    section {
        justify-content: center;
        display: inline-flex;
        margin: 7% 15%;
    }  
    .container {
        margin: 0 14%;
        border-radius: 4px;
        padding: 1%;
        width: 950px;
        height: 400px;
        display: inline-flex;
        justify-content: space-around;
    }

        .container .box {
            position: relative;
            width: 400px;
            background: #fff;
            border: solid 6px #fff6e5;
            justify-content: center;
            align-items: center;
            height: 400px;
            border-radius: 4px;
            text-align: center;
            margin-left: 2%;
            overflow: hidden;
            transition: 0.5s;
            box-shadow: 0 15px 35px rgba(0, 0, 0, .5);
        }

        .container .box:hover {
            transform: translateY(-10px);
            box-shadow: 0 15px 35px rgba(0, 0, 0, .5);
        }

    h2 {
        margin: 10% 2%;
        text-transform: uppercase;
        font: bold 16pt Comic Sans MS;
        text-align: center;
        color: #6b4d41;
    }

    h4 {
        margin: 15% 4%;
        font: normal 14pt Arial;
        text-align: left;
        padding: 15px;
        color: #6b4d41;
    }
</style>


<body>
    <section>
        <div class="container">
            <div class="box">
                <i class="fa fa-users" style="line-height: 100px; font-size: 50px; color: #9f4845"></i>
                <h2>Quem Somos Nós?</h2>
                <h4>
                    Somos uma empresa
                    que vende alimentos
                    e bebidas dos nossos
                    parceiros, ajudando
                    os clientes para que
                    eles possam ter o seu
                    produto de forma
                    rápida e prática.
                </h4>
            </div>
            <div class="box">
                <i class="fa fa-pencil-square-o" style=" line-height: 100px; font-size: 50px; color: #9f4845"></i>
                <h2>Missão e Visão</h2>
                <h4>
                    Nossa Missão e Visão é
                    atender nossos clientes
                    e fornecer ajuda aos
                    nossos parceiros que
                    tem uma alta demanda
                    de clientes.
                </h4>
            </div>
            <div class="box">
                <i class="fa fa-star" style="line-height: 100px; font-size: 50px; color: #9f4845"></i>
                <h2>Valores</h2>
                <h4>
                    - QUALIDADE<br />
                    - RESPONSABILIDADE<br />
                    - FLEXIBILIDADE<br />
                    - SEGURANÇA<br />
                    - EMPATIA<br />
                    - VELOCIDADE<br />
                </h4>
            </div>
        </div>
    </section>
</body>
