@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Confirmação - CoffeeForCode</title>
    <link rel="sortcut icon" href="~/fonts/Home_Cliente/logo_copo.png" type="image/png" />
    <style>
        body{
            margin: 0;
            background-color: #b09081;
        }
    </style>
</head>
<body>
    <section>

    </section>
</body>
</html>
