
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Compra - CoffeeForCode</title>
    <link rel="sortcut icon" href="~/fonts/Home_Cliente/logo_copo.png" type="image/png" />
    <style>
        body {
            margin: 0;
        }

        header, .tit {
            display: inline-flex;
        }

        .back {
            display: inline-flex;
            cursor: pointer;
        }

        nav {
            background-color: #fff6e5;
            display: flex;
            width: 100vw;
        }

        .logo {
            margin-left: 8%;
            width: 6vw;
            height: 12vh;
        }

        #loc {
            background-color: #9f4845;
            color: #fff;
        }

        ul {
            display: flex;
            list-style: none;
            width: 90%;
            margin: 2%;
        }

        li a {
            font: bold 12pt comic Sans MS;
            text-decoration: none;
            color: #707070;
            display: flex;
            padding: 6px;
            text-transform: uppercase;
            border-radius: 25px;
            list-style: none;
            margin-left: 10vw;
        }

        li a:hover {
            background-color: #9f4845;
            color: white;
            transition: 0.5s;
        }
        main{
            display: flex;
        }
        .first_main{
            margin: 8% 12%;
        }
        .first_main h1 {
            letter-spacing: 1px;
            text-transform: uppercase;
            font: bold 35pt Comic Sans MS;
            color: #6b4d41;
        }
        a{
            text-decoration: none;
        }
        .button {
            cursor: pointer;
            width: 30vw;
            margin: 0% 1%;
            display: flex;
            padding: 15px;
            justify-content: center;
            text-align: center;
            text-decoration: none;
            border-radius: 25px;
            border: none;
            color: #fff;
            font:  bold 12pt Comic Sans MS;
            background-color: #9f4845;
            color: #fff;
        }
        .second_main{
            padding-top: 5%;
            width: 40%;
        }
        .box {
            display: flex;
            position: relative;
            width: 500px;
            background: #fff;
            border: solid 6px #fff6e5;
            justify-content: center;
            align-items: center;
            height: 400px;
            border-radius: 4px;
            text-align: center;
            margin-left: 2%;
            overflow: hidden;
            transition: 0.5s;
            box-shadow: 0 15px 35px rgba(0, 0, 0, .5);  
        }
        .box:hover {
            border: solid 6px #ffeece;
            transform: translateY(-10px);
            box-shadow: 0 15px 35px rgba(0, 0, 0, .5);
        }
        .column_one, .column_two{
            height: 50vh;
        }
        .column_one img, .column_two img{
            width: 8vw;
            margin: 10%;
            display:block;
        }
    </style>
</head>
<body>
    <header>
        <nav>
            <img src="~/fonts/Home_Cliente/logo_copo.png" class="logo" alt="">
            <ul>
                <li><a href="Home" id="">Home</a></li>
                <li><a href="Cardapio">Cardápio</a></li>
                <li><a href="Parceiro" id="loc">Seja parceiro</a></li>
                <li><a href="">Trabalhe conosco</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="first_main">
            <h1>VENHA TAMBÉM<br /> SER NOSSO<br/> PARCEIRO.</h1>
            <a href="Sobre"><input type="button" class="button" value="SEJA PARCEIRO"></a>
        </div>
        <div class="second_main">
            <div class="box">
                <div class="column_one">
                    <img src="~/fonts/Home_Cliente/Parceiro/logo_starbucks.png" style="width: 8em; margin-top: 18%;">
                    <img src="~/fonts/Home_Cliente/Parceiro/logo_subway.png" style="width: 8em; margin-top: 35%;">
                    <img src="~/fonts/Home_Cliente/Parceiro/logo_nestle.png" style="width: 8em; margin-top: 40%">
                </div>
                <hr style="width: 0.5vw; display:flex;height: 45vh; background-color: #B0E5F3; border: none; margin:10%;">
                <div class="column_two">
                    <img src="~/fonts/Home_Cliente/Parceiro/logo_bauducco.png" style="width: 8em">
                    <img src="~/fonts/Home_Cliente/Parceiro/logo_bk.png" style="width: 8em">
                    <img src="~/fonts/Home_Cliente/Parceiro/logo_ifood.png" style="width: 8em">

                </div>
            </div>
        </div>
    </main>
</body>
</html>
