
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sobre - CoffeeForCode</title>
    <link rel="sortcut icon" href="~/fonts/Home_Cliente/logo_copo.png" type="image/png"/>
    <style>
        body {
            margin: 0;
        }

        nav {
            background-color: #fff6e5;
            display: flex;
            position: fixed;
            width: 100vw;
        }

        .logo {
            margin-left: 8%;
            width: 6vw;
            height: 12vh;
        }

        #loc {
            background-color: #9f4845;
            color: #fff;
        }

        ul {
            display: flex;
            list-style: none;
            width: 90%;
            margin: 2%;
        }

        li a {
            font: bold 12pt comic Sans MS;
            text-decoration: none;
            color: #707070;
            display: flex;
            padding: 6px;
            text-transform: uppercase;
            border-radius: 25px;
            list-style: none;
            margin-left: 10vw;
        }

        li a:hover {
            background-color: #9f4845;
            color: white;
            transition: 0.5s;
        }
        .back {
            display: inline-flex;
            margin: 1.5%;
            padding-top: 5%;
        }
        .back img {
            width: 2.5vw;
            height: 2.5vw;
            margin: 10% 10%;
        }
        .back h3 {
            display: flex;
            color: #9f4845;
            font: bold 15pt Comic Sans MS;
        }

        .container {
            margin: 0 14%;
            border-radius: 4px;
            padding: 1%;
            width: 950px;
            height: 400px;
            display: inline-flex;
            justify-content: space-around;
        }

            .container .box {
                position: relative;
                width: 400px;
                background: #fff;
                border: solid 6px #fff6e5;
                justify-content: center;
                align-items: center;
                height: 400px;
                border-radius: 4px;
                text-align: center;
                margin-left: 2%;
                overflow: hidden;
                transition: 0.5s;
                box-shadow: 0 15px 35px rgba(0, 0, 0, .5);
            }

            .container .box:hover {
                transform: translateY(-10px);
                box-shadow: 0 15px 35px rgba(0, 0, 0, .5);
            }

        h2 {
            margin: 10% 2%;
            text-transform: uppercase;
            font: bold 16pt Comic Sans MS;
            text-align: center;
            color: #6b4d41;
        }

        h4 {
            margin: 15% 4%;
            font: normal 14pt Arial;
            text-align: left;
            padding: 15px;
            color: #6b4d41;
        }
    </style>
</head>
<body>
    <header>
        <nav>
            <img src="~/fonts/Home_Cliente/logo_copo.png" class="logo" alt="">
            <ul>
                <li><a href="Home" id="loc">Home</a></li>
                <li><a href="Cardapio">Cardápio</a></li>
                <li><a href="">Seja parceiro</a></li>
                <li><a href="">Trabalhe conosco</a></li>
            </ul>
        </nav>
        <a href="Home" style="text-decoration: none;">
            <div class="back">
                <img class="back" src="~/fonts/Home_Login/voltar.png"><h3>Voltar</h3>
            </div>
        </a>
    </header>
    <section>
        <div class="container">
            <div class="box">
                <i class="fa fa-users" style="line-height: 100px; font-size: 50px; color: #00aeff"></i>
                <h2>Quem Somos Nós?</h2>
                <h4>
                    Somos uma empresa
                    que vende alimentos
                    e bebidas dos nossos
                    parceiros, ajudando
                    os clientes para que
                    eles possam ter o seu
                    produto de forma
                    rápida e prática.
                </h4>
            </div>
            <div class="box">
                <i class="fa fa-pencil-square-o" style=" line-height: 100px; font-size: 50px; color: #00aeff"></i>
                <h2>Missão e Visão</h2>
                <h4>
                    Nossa Missão e Visão é
                    atender nossos clientes
                    e fornecer ajuda aos
                    nossos parceiros que
                    tem uma alta demanda
                    de clientes.
                </h4>
            </div>
            <div class="box">
                <i class="fa fa-star" style="line-height: 100px; font-size: 50px; color: #00aeff"></i>
                <h2>Valores</h2>
                <h4>
                    - QUALIDADE<br/>
                    - RESPONSABILIDADE<br/>
                    - FLEXIBILIDADE<br />
                    - SEGURANÇA<br />
                    - EMPATIA<br />
                    - VELOCIDADE<br />
                </h4>
            </div>
        </div>
    </section>
</body>
</html>